// variables
$main-color: #4169E1;

// enabling
$enable-negative-margins: true;

// Font for Open button
@font-face {
    font-family: Josh;
    src: url(../../Fonts/static/Jost-Regular.ttf);
}

// Font for navBar and Name
@font-face {
    font-family: bungiee;
    src: url(../../Fonts/BungeeSpice-Regular.ttf);
}

.intro {
    margin: {
        top: 11rem;
        bottom: 24rem;
    }

}

// Main page
.start {
    display: flex;
    justify-content: center;
    // margin-right: 19rem;
    height: 5rem;
    align-items: flex-end;
}


.openButton {
    font-family: Josh;
}

.name {
    font-family: bungiee;
    font-size: 3rem;
}

img {
    height: 20rem;
}

// navBar
.listOptions {
    display: flex;
    // flex-direction: row;
    // align-items: center;
    background-color: black;


}

.list {
    list-style: none;
    font-family: bungiee;
    cursor: pointer;
    border: solid radial-gradient(circle, rgba(255, 166, 40, 1) 0%, rgba(255, 37, 37, 1) 100%) 1rem;
}

//contact
.contact {
    margin-bottom: 1rem;

    .contactlist {

        // padding-top: 1rem;
        // padding-bottom: 1rem;
        margin-left: 12vw;

        .contactItems {

            display: flex;
        }
    }

}

// empty page
.noReason {
    background: #212529;
    height: 15vw;
}
