// variables
$main-color: #4169E1;

// enabling
$enable-negative-margins: true;

// Font for Open button
@font-face {
    font-family: Josh;
    src: url(../../Fonts/static/Jost-Regular.ttf);
}

// starting button
.openButton {
    font-family: Josh;
}

// List buttons
.listOptions {
    display: flex;
    // flex-direction: row;
    // align-items: center;

}

.list {
    list-style: none;
    font-family: Josh;
    cursor: pointer;
}

// Navbar
.navoptions {
    display: flex;
}

.space {
    margin-left: .5rem;
}

.buttonOption {
    width: 4.5rem;
}

// home page
.homeTitle {
    display: flex;
}

// About page
.aboutTitle {
    display: flex;
}
